{% extends base.html %}
{% block title %}关于{% end %}
{% block section %}
<div class="staticBlock dn">
  <h3>社交</h3>
  <ul>
    <li>
      <a href="https://www.github.com/Jackeriss" target="_blank">GitHub</a>
    </li>
    <li>
      <a href="https://www.v2ex.com/member/Jackeriss" target="_blank">V2EX</a>
    </li>
    <li>
      <a href="http://weibo.com/Jackeriss" target="_blank">微博</a>
    </li>
  </ul>
  <h3>邮箱</h3>
  <ul>
    <li>
      <span>i@jackeriss.com</span>
    </li>
  </ul>
  <h3>留言板</h3>
  <div id="gitalk-container"></div>
</div>
{% end %}
