{% extends base.html %}
{% block title %}归档{% end %}
{% block section %}
<div class="staticBlock">
  <h3>归档</h3>
  {% if len(posts) == 0 %}
  <div class="postBlank">
    <p>暂时还没有文章</p>
  </div>
  {% end %}
  {% set year = '' %}
  {% for post in posts %}
  {% if post['year'] != year %}
  {% if year != '' %}
  </div>
  </div>
  {% end %}
  <div class="achiveBlock">
  <div class="achiveYear">{{ post['year'] }}</div>
  <div class="achiveSide">
  {% set year = post['year'] %}
  {% end %}
  <div class="achiveLine">
    <div class="achiveTime"><input type="hidden" value="{{ post['timestamp'] }}"/></div>
    <div class="achiveTitle"><a href="/p/{{ post['id'] }}">{{ post['title'] }}</a></div>
  </div>
  {% end %}
  </div>
  </div>
  <div id="gitalk-container"></div>
</div>
{% end %}
