<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}Hi, I'm Jackeriss, a Python developer. This blog is written in python using Typora-Blog.{% end %}">
    <meta name="keywords" content="Jackeriss">
    <title>{% block title %}Jackeriss{% end %}</title>
    <link href="/static/css/style.css?t=2017-09-15 16:13:15" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://i.loli.net/2017/08/13/599071cb7628b.png">
    <link rel="shortcut icon" href="https://i.loli.net/2017/08/13/599071cb7628b.png">
    {% block head %}{% end %}
  </head>
  <header>
    <div class="container clearfix">
      <div class="logo left">
        <a href="/" title="Jackeriss">
          <img src="https://i.loli.net/2017/08/13/599071cb7628b.png" alt="Jackeriss" height="46">
        </a>
      </div>
      <div class="search left">
      </div>
      <div class="nav nav-user right">
        <ul>
          <li><a href="/achive">归档</a></li>
          <li><a href="/product">项目</a></li>
          <li><a href="/share">分享</a></li>
          <li><a href="/link">友链</a></li>
          <li><a href="/about">关于</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="main-body">
    {% block section %}{% end %}
    <div class="go-top dn" id="go-top">
      <a href="javascript:;" class="go"><img src="/static/image/top.svg"/></a>
    </div>
    </div>
  </div>
  <footer class="dn">
    <div class="container">
      <p>
        © 2017 <a href="/">Jackeriss</a> Powered by <a href="https://github.com/Jackeriss/Typora-Blog" target="_blank">Typora-Blog</a>
      </p>
    </div>
  </footer>
  <script src="https://cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.17.1/locale/zh-cn.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="/static/js/index.js?t=2017-09-18 11:18:28"></script>
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <script src="/static/js/baidu_tongji.js"></script>
  {% block script %}{% end %}
</html>
