{% extends base.html %}
{% block section %}
{% if len(posts) == 0 %}
<div class="postBlock">
  <div class="postBlank">
    <p>暂时还没有文章</p>
  </div>
</div>
{% else %}
<input type="hidden" class="totalPage" value="{{ int((len(posts) + 9) / 10) }}"/>
{% for i, post in enumerate(posts) %}
{% if i == 0 %}
<div class="pageBlock" id="page1">
{% elif i % 10 == 0 %}
</div><div class="pageBlock dn" id="page{{ int(i / 10 + 1) }}">
{% end %}
<div class="postBlock">
  <h2 class="title"><a href="/p/{{ post['title'] }}">{{ post['title'] }}</a></h2>
  <div class="time"><input type="hidden" value="{{ post['timestamp'] }}"/></div>
  <div>{% raw post['abstract'] %}</div>
</div>
{% end %}
{% end %}
</div>
<div class="loading">
  <div class="spinner">
    <div class="loader-inner ball-clip-rotate-multiple">
      <div></div>
      <div></div>
    </div>
  </div>
</div>
{% end %}
