{% extends base.html %}
{% block title %}友链{% end %}
{% block section %}
<div class="staticBlock">
  <h3>友链</h3>
  <table>
    <tbody>
      <tr>
        <td style="text-align:center;">
          <a href="http://www.iplaysoft.com/" target="_blank">异次元软件</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://www.appinn.com/" target="_blank">小众软件</a>
        </td>
        <td style="text-align:center;" >
          <a href="https://www.binarization.com/" target="_blank">Binarization</a>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;">
          <a href="https://www.anotherhome.net/" target="_blank">Anotherhome</a>
        </td>
        <td style="text-align:center;" >
          <a href="https://aoaoao.me/" target="_blank">树洞</a>
        </td>
        <td style="text-align:center;" >
          <a href="https://www.0xaa55.com/" target="_blank">技术宅的结界</a>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;">
          <a href="https://www.nihaodaguo.com/" target="_blank">你好大锅</a>
        </td>
        <td style="text-align:center;" >
          <a href="https://blog.lwl12.com/" target="_blank">LWL的自由天空</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://donezhuang.ren/" target="_blank">donezhuang.ren</a>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;">
          <a href="https://www.moew.xyz/" target="_blank">夜雨初霁</a>
        </td>
        <td style="text-align:center;" >
          <a href="https://acgmiao.com/" target="_blank">ACG喵</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://www.500efuma.com/" target="_blank">魔王的傻逼主页</a>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;" >
          <a href="http://eerie.ml/" target="_blank">氮铀根点毫升</a>
        </td>
        <td style="text-align:center;">
          <a href="http://www.ntrun.com/" target="_blank">nTrun快速启动</a>
        </td>
        <td style="text-align:center;" >
          <a href="https://www.zhoumq.cn/" target="_blank">泽阳</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="gitalk-container"></div>
</div>
{% end %}
