{% extends base.html %}
{% block title %}友链{% end %}
{% block section %}
<div class="staticBlock">
  <h3>友链</h3>
  <table>
    <tbody>
      <tr>
        <td style="text-align:center;">
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;">
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;">
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;">
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
        <td style="text-align:center;" >
          <a href="http://www.jackeriss.com" target="_blank">Jackeriss</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% end %}
