{% extends base.html %}
{% block title %}项目{% end %}
{% block section %}
<div class="staticBlock">
  <h3>项目</h3>
  <ul>
    <li>
      <a href="//www.github.com/Jackeriss/Typora-Blog" target="_blank">Typora-Blog</a>
      <div>一个简单的个人博客</div>
    </li>
    <li>
      <a href="//www.cupfox.com" target="_blank">茶杯狐</a>
      <div>影视资源站搜索引擎</div>
    </li>
    <li>
      <a href="//top15.jackeriss.com" target="_blank">Top15</a>
      <div>在你的网站中展示最近看过 / 读过 / 听过的电影 / 书 / 音乐</div>
    </li>
    <li>
      <a href="https://jackeriss.github.io/email_my_pc" target="_blank">Email My PC</a>
      <div>通过邮件远程监控你的电脑</div>
    </li>
  </ul>
  <div id="gitalk-container"></div>
</div>
{% end %}
