{% extends base.html %}
{% block title %}分享{% end %}
{% block section %}
<div class="staticBlock">
  <h3>电影</h3>
  <iframe onload="initIframe();" id="top15_iframe" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="500px" src="https://top15.jackeriss.com/iframe?user_id=Jackeriss&object_type=0&group_type=0&order_by=1&tag=0"></iframe>
  <div id="gitalk-container"></div>
</div>
{% end %}
{% block script %}
<script type="text/javascript">
  function initIframe(){
    var iframe = document.getElementById("top15_iframe");
    try {
      if (iframe.offsetWidth < 768) {
        iframe.height = (iframe.offsetWidth * 0.3 * 1.47 + 85) * 5;
      }
      else {
        iframe.height = (iframe.offsetWidth * 0.16 * 1.47 + 85) * 3;
      }
    }
    catch (ex){}
  }
</script>
{% end %}
